#daydstats .stats-line {
    margin-bottom: 1px;
    padding: 2px 0 2px 20px;
    width: 100%;
    word-wrap: break-word;
}

#daydstats .stats-line:hover {
    background-color: #333;
    color: white;
}

#daydstats .stats-line .stats-line:hover {
    background-color: #555;

}

#daydstats .stats-line .stats-line:hover a:hover {
    color: white;
}

#daydstats .breadcrumb > li {
    display: inline-block;
}

#daydstats .pull-right {
    float: right !important;
}
