<template name="daydStats">
  <div id="daydstats">
    <h1 class="titre"> Stats</h1>

    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-area-chart fa-fw"></i> Home</li>
      <li><a href="/daydstats/pages" title="Pages"><i class="fa fa-area-chart fa-fw"></i> Pages</a></li>
      <li><a href="/daydstats/referers" title="Referer"><i class="fa fa-area-chart fa-fw"></i> Referer</a></li>
    </ol>

    <div class="mb10">
      <div class="text-right">
        With :
        <a href="" class="btn btn-xs btn-primary js-path">Path</a>
        <a href="" class="btn btn-xs btn-primary js-headers">Headers</a>
        <a href="" class="btn btn-xs btn-primary js-with-robots">Robots</a>
      </div>
    </div>

    {{#each stats}}
      <div class="stats-line">
        <div class="pull-right">{{#if modifiedAtcreatedAt}}
          <label class="label label-success">{{modifiedAt}}</label>{{else}}
          <label class="label label-primary">{{createdAt}}</label>{{/if}}</div>
        <div>
          <a href="/daydstats/ip/{{ip}}" class="btn btn-xs btn-default">{{ip}}</a>
          {{#if isRobot}}<label class="label label-warning">robot</label>{{/if}}
          {{username}}
        </div>

        {{#if show 'path'}}
          {{#each paths}}
            <div class="stats-line">
              <div class="pull-right"><label class="label label-default">{{createdAt}}</label></div>
              <div><a href="{{path}}">{{path}}</a></div>
            </div>
          {{/each}}
        {{/if}}

        {{#if show 'headers'}}
          {{#with headers}}
            <div class="stats-line">
              <div><b>host :</b> {{host}}</div>
              <div><b>connection :</b> {{connection}}</div>
              <div><b>cache-control :</b> {{cacheControl}}</div>
              <div><b>accept :</b> {{accept}}</div>
              <div><b>user-agent :</b> {{userAgent}}</div>
              <div><b>referer :</b> {{referer}}</div>
              <div><b>accept-language :</b> {{acceptLanguage}}</div>
            </div>
          {{/with}}
        {{/if}}
      </div>
    {{/each}}
  </div>
</template>

<template name="daydStatsPath">
  {{#if isPath}}
    <ul class="list-group">
      {{#each statsByPath}}
        <li class="list-group-item badge-inverse">
          <span class="badge">{{this.count}}</span>
          {{this._id}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if isNumberOfUsersDictinct}}
    <ul class="list-group">
      {{#each statsNumberOfUsersDistinct}}
        <li class="list-group-item badge-inverse">
          <span class="badge">{{this.count}}</span>
          {{this._id}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if isNumberTotalOfUsers}}
    <span> {{usersNumbers}} </span>
  {{/if}}
  {{#if isUsersWithDuration}}
    <ul class="list-group">
      {{#each usersWithConnectionDuration}}
        <li class="list-group-item badge-inverse">
          <span class="badge">{{connectionDuration}}</span>
          {{this._id}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if isPathPerConnection}}
    <ul class="list-group">
      {{#each pathPerConnection}}
        <li class="list-group-item badge-inverse">
          <span class="badge">{{pages}}</span>
          {{this._id}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if isDurationEnterPaths}}
    <ul class="list-group">
      {{#each durationEnterPaths}}
        <li class="list-group-item badge-inverse">
          <span class="badge">{{durationPaths}}</span>
          {{this._id}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</template>
